<div class="modal-header">
  <h4 class="modal-title">Add Event</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <ul class="nav flex-column">
    <li class="nav-item">
      <fa-icon [icon]="faPlane">
      </fa-icon>
      <a class="nav-link active" href="#">Flight</a>
    </li>
    <li class="nav-item">
      <fa-icon [icon]="faHotel">
      </fa-icon>
      <a class="nav-link" href="#">Hotel</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>

  <div class="row">
    <div class="col-md-1">
      <fa-icon [icon]="faPlane">
      </fa-icon>
    </div>

    <div class="col-md-11">
      <a href="/flight">Flight</a>
    </div>
  </div>


  <div class="row">
    <div class="col-md-1">
      <fa-icon [icon]="faHotel">
      </fa-icon>
    </div>

    <div class="col-md-11">
      <a href="/hotel">Hotel</a>
    </div>
  </div>

  <!--<form>
    <div class="form-group">
      <input class="form-control" type="radio" name="radio" value="Flight" />

      <span>
        <fa-icon [icon]="faPlane">
        </fa-icon>
      </span>

      <label>Flight</label>
    </div>

    <div class="form-group">
      <input class="form-control" type="radio" name="radio" value="Hotel" />

      <div>
        <fa-icon [icon]="faHotel">
        </fa-icon>
      </div>

      <label>Hotel</label>
    </div>
  </form>-->
  <!--<div class="funkyradio-primary">
      <fa-icon [icon]="faHotel"></fa-icon>
      <input type="radio" name="radio" id="radio2" checked />
      <label for="radio2">Hotel</label>
    </div>
    <div class="funkyradio-success">
      <fa-icon [icon]="faBinoculars"></fa-icon>
      <input type="radio" name="radio" id="radio3" />
      <label for="radio3">Activity</label>
    </div>
  </div>-->
  <!--<form>
    <div class="radio">
      <label><input type="radio" name="optradio" checked>Option 1</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">Option 2</label>
    </div>
    <div class="radio disabled">
      <label><input type="radio" name="optradio" disabled>Option 3</label>
    </div>
  </form>

  <div class="container">
    <h2>Active Item in a List Group</h2>
    <div class="list-group">
      <a href="#" class="list-group-item active">First item</a>
      <a href="#" class="list-group-item">Second item</a>
      <a href="#" class="list-group-item">Third item</a>
    </div>
  </div>

  <div class="row">
    <fa-icon [icon]="faPlane"></fa-icon>
    <input class="col-md-8" type="text" maxlength="50" />
  </div>

  <div class="row">
    <fa-icon [icon]="faHotel"></fa-icon>
    <label class="col-md-8">Hotel</label>
  </div>

  <div class="row">
    <fa-icon [icon]="faBinoculars"></fa-icon>
    <label class="col-md-8">Activity</label>
  </div>-->
  <!--<form>
    <div class="form-group">
      <label for="dateOfBirth">Date of birth</label>
      <div class="input-group">
        <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
        </div>
      </div>
    </div>

    <div>Date that was clicked: {{clickedDate}}</div>
  </form>-->

  <p>You clicked on date: {{startDate}}!</p>
</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div>
